<h2>Hi {{name}},</h2>

<p>We regret to inform you that your membership application has been <b>rejected</b>.</p>

<p>If you believe this was a mistake, you may contact our support team at
<strong>support@ngo.org</strong>.</p>

<br />
<p>Best regards,<br/>NGO Team</p>
